* {
	box-sizing: border-box;
	word-wrap: break-word;
}

a {
	text-decoration: none;
}

blockquote {
	font-size: 20*$px;
}

// Overridden from lists.scss
ul, ol {
	padding: 0;
	margin: 0 0 $phi*1em $phi*1em;
}

@include htags();